# Ignorar archivos compilados de Java
*.class

# Ignorar directorios de compilación
/bin/
/target/

# Ignorar archivos generados por IDEs
/.idea/
/*.iml
/.vscode/

# Ignorar paquetes de dependencias (si utilizas Maven o Gradle)
# Maven
/mvnw/
/mvnw.cmd
/.mvn/
/target/

# Gradle
.gradle/
/build/

# Ignorar archivos de configuración de sistema en macOS
.DS_Store

# Ignorar archivos de respaldo creados por editores de texto
*~
*.swp
*.swo

# Archivos logs
.log

# La carpeta node_modules/
/node_modules/

#La carpeta venv/
/venv/

# Todos los archivos .env que contienen variables de entorno sensibles.
.env

# Archivos de caché de editores como .vscode/ y .idea/.
.vscode/
.idea/
